<div id="header">
    <div id="header_left">
        <div id="header_left1">
            <h1><a href="{{ path('kmgh_appbundle_app_index') }}">GADI</a></h1>

            <h3>Gestion des Attributions du Département Informatique</h3>
        </div>
        <div id="header_left2">
            <h2>UM2</h2>
        </div>
    </div>
    {% if app.user is not null %}
    <div id="header_right">
        <p>Bienvenue, <b id="userWelcome" data-idUser="{{ app.user.enseignant.id }}">{{ app.user.enseignant.prenom ~ ' ' ~ app.user.enseignant.nom }}</b></p>

        <p><a href="{{ path('kmgh_userbundle_user_options') }}">Options</a> | <a
                    href="{{ path('fos_user_security_logout') }}">Déconnexion</a></p>
    </div>
    {% endif %}
</div> <!--- header -->

<div id="menu">
    <div id="menu_content">
    </div>
</div>

<div id="bg_sousmenu">
    <ul id="nav">
        <li><a href="{{ path('kmgh_appbundle_app_index') }}">Attributions</a></li>


        <li><a href="{{ path('kmgh_appbundle_app_fiches') }}">Fiches enseignement</a></li>

        {% if is_granted('ROLE_ADMIN')  %}
        <li><a class="depliant" href="#">administration &#9660;</a></li>
            <ul class="sous-menu">
                <li><a href="{{ path('kmgh_appbundle_app_admin_attribution') }}">Voir les attributions</a></li>
                <li><a href="#page1">le lien 3</a></li>
                <li><a href="#page1">le lien 4</a></li>
            </ul>
        {% endif %}
    </ul>
</div>