{% extends '::base.html.twig' %}

{% block body %}
<div id="main">

    <h1>Gestion des modules</h1>
    <a id="btnOuvrePanelAjout" href="#"><span class="glyphicon glyphicon-plus"></span> Ajouter un diplôme</a>
    {{ form_start(form, {'attr': {'id': 'panelAjout'}}) }}
    {{ form_errors(form) }}
    {{ form_row(form.typeDeDiplome) }}
    {{ form_row(form.enseignement) }}
    {{ form_row(form.submit,{'attr': {'class': 'btn btn-default'}, 'label': 'Valider'}) }}
    {{ form_end(form) }}

</div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    <script>
        CSRF_TOKEN = '{{ user_csrf() }}';
    </script>
{% endblock %}

