{% extends "::base.html.twig" %}

{% block body %}
    <div id="main">

        <h1>Gestion des enseignants</h1>

        <div id="alertMsg" class="alert-box">
            <div class="close-box">x</div>
            <span class="type"></span>
            <span class="msg"></span>
        </div>


        <a id="btnOuvrePanelAjout" href="#"><span class="glyphicon glyphicon-plus"></span> Ajouter un enseigant non inscrit</a>
        {{ form_start(form, {'attr': {'id': 'panelAjout'}}) }}
        {{ form_errors(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}


        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Email</th>
                <th>Statut</th>
                <th>Inscrit</th>
            </tr>
            </thead>
            <tbody class="table-striped">
            {% for enseignant in enseignants %}
                {# attribution KMGH\AppBundle\Entity\attributions #}
                <tr id="{{ enseignant.id }}">
                    <th scope="row">{{ loop.index }}</th>
                    <td>{{ enseignant.nom }}</td>
                    <td>{{ enseignant.prenom }}</td>
                    <td>{{ enseignant.utilisateur.email }}</td>
                    <td>{{ enseignant.statut.nomStatut }}</td>
                    <td>{%  if enseignant.utilisateur != null %}Inscrit{% else %}Non inscrit{% endif %}</td>
                    <td class="btn_action">
                        <a href="#" title="Modifier"
                           class='btnModifier'><span
                                    class="glyphicon glyphicon-pencil"></span></a>
                        <a href="#" title="Supprimer"
                           class='btnSupprimerAdmin'><span
                                    class="glyphicon glyphicon-trash"></span></a>
                        <a href="#" title="Valider" class='btnValider'><span
                                    class="glyphicon glyphicon-ok"></span></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    <script>
        CSRF_TOKEN = '{{ user_csrf() }}';
    </script>
{% endblock %}